@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
  background: white;
  font-family: ubuntu, sans-serif;
}
h1 {
  color: white;
}

.panel-container {
  display: flex;
  min-height: 50vh;
  height: 50vh;
}

.panel {
  background: white;
  border: 1px solid gray;
  padding: 15px;
  flex-direction: column; 
}

.resizer {
  width: 0.1rem;
  background: #d8d8d8;
  position: relative;
  cursor: col-resize;
  flex-shrink: 0;
  flex-grow: 0;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */ 
}

.resizer::after,
.resizer::before {
  content: "";
  border-left: 1px solid #0B71AB;
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  right: 0;
  display: inline-block;
  height: 20px;
  margin: 0 2px;
}
.resizer::before {
  left: 0;
}